.contact-container {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-title {
    font-size: 2.5em;
    color: #d64900;
    margin-bottom: 20px;
    font-family: 'Roboto slab';
}

.contact-description {
    font-size: 1.2em;
    margin-bottom: 40px;
    font-family: 'Roboto';
    max-width: 80%;
    margin: 0 auto;
}