.activity-container {
    text-align: center;
    margin: 30px auto;
    font-family: 'Roboto';
    width: 90%;
    max-width: 500px;
}

.activity-title {
    font-size: 2.5em;
    color: #d64900;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto slab';
}

.activity-description {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 30px;
}

.activity-form-container {
    display: flex;
    justify-content: center;
}

.activity-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.activity-form input,
.activity-form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.activity-form input:focus,
.activity-form textarea:focus {
    border-color: #d64900;
    box-shadow: 0 0 5px rgba(214, 73, 0, 0.5);
}

.activity-form textarea {
    resize: none;
}

.activity-button {
    background-color: #d64900;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.activity-button:hover {
    background-color: #a93c00;
}

/* Contenedor de la vista previa */
.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.preview-image {
    max-width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.preview-image:hover {
    transform: scale(1.05);
}

.click-text {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

/* Modal para imagen completa */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: zoom-out;
}

.activity-form select {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.activity-form select:focus {
    border-color: #d64900;
    box-shadow: 0 0 5px rgba(214, 73, 0, 0.5);
}

/*RegisterActivity