.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.register-body {
    text-align: center;
    margin-bottom: 20px;
}

.register-body h1 {
    font-size: 2.5em;
    color: #d64900;
    font-family: 'Roboto slab';
    display: block;
}

.form {
    background-color: #fff;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}

.form input[type="email"] {
    width: 92%;
    padding: 12px 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

.form input[type="email"]:focus {
    outline: none;
    border-color: #d64900;
    box-shadow: 0 0 0 2px #ff550048;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #d64900;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #ff5500;
}

.login-link {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #d64900;
    text-decoration: none;
    text-align: center;
}

.link12 {
    color: #0475e6;
    text-decoration: none;
}

.link12:hover {
    text-decoration: underline;
}